* {
  box-sizing: border-box;
  margin:0px;
}

/* FONTS EXTERNAS */

@font-face {
  font-family: valorant_font;
  src: url(Valorant\ Font.ttf);
}

@font-face {
  font-family: coolvetica;
  src: url(coolvetica\ rg.otf);
}

/* FIM DAS FONTS EXTERNAS */

body {
  background-image: url(map_fundo.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
}

h2 {
  font-family: valorant_font;
  background-color: transparent;
  color: white;
}


ul  li {
  display: inline-block;
  float: right;
  padding: 4px 100px 0px 50px;
  width: 244px;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

a:hover {
  color: white;
  text-shadow: 4px 4px 4px black;
}

  /* estilo do cabeçalho */
  .header {
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-family: 'coolvetica'
  }

  /* estilo do rodapé */
.footer {
  background-attachment: fixed;
  background-size: 100% 100%;
  color: white;
  background-image: url(map_fundo.jpg);
  padding: 10px;
  text-align: center;
}


