
* {
    box-sizing: border-box;
    margin:0px;
  }


/* FONTS EXTERNAS */

  @font-face {
    font-family: valorant_font;
    src: url(Valorant\ Font.ttf);
  }

  @font-face {
    font-family: coolvetica;
    src: url(coolvetica\ rg.otf);
  }

/* FIM DAS FONTS EXTERNAS */

  .h2 {
    width: 1865px;
    height: 48px;
}

  h2 {
    font-family: valorant_font;
    padding-top: 140px;
    padding-left: 170px; 
    background-color: transparent;
  }

  ul  li {
    display: inline-block;
    float: right;
    padding: 4px 100px 0px 50px;
    width: 244px;
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
  
  a:hover {
    color: white;
    text-shadow: 4px 4px 4px black;
  }

  .a_download:hover {
    width: 300px;
    height: 90px;
    background-color: #ff4040;
    display: block;
    text-align: center;
    font-size: 27px;
    font-family:'coolvetica';
    padding-top: 30px;
    color: black;
    text-shadow: 1px 1px 1px transparent;
    letter-spacing: 2px;
  }
  
  /* estilo do cabeçalho */

  .a_download {
    width: 300px;
    height: 90px;
    background-color: #ff4040;
    display: block;
    text-align: center;
    font-size: 27px;
    font-family:'coolvetica';
    padding-top: 30px;
    color: black;
    letter-spacing: 1px;
  }

  .btn_download {
    float: left;
    height: 400px;
    width: 50px;
    padding-left: 122px;
    padding-top: 140px;
  }

  .download {
    width: 700px;
    height: 500px;
    float: left;
}


  .not {
    border-radius: 7px;
    border: 1px solid transparent;

}

  .header {
    background-attachment: fixed;
    background-size: 100% 100%;
    background-image: url(map_fundo.jpg);
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-family: 'Righteous', cursive;
    
  }

  .not:hover {
    box-shadow: 8px 8px 0px 0px #ff4040;
    transition: all 0.3s;
  }
  
  
  /* Crie três colunas desiguais que flutuam uma ao lado da outra */

  .column {
    float: left;
    padding: 20px;
    height: 500px; 
  }
  
  /* Colunas gerais */

  .column_text {
    display: block;
    padding-top: 370px;
    padding-right: 70px;
    text-align: left;
    width: 47%;
    font-size: 44px;
    float: right;
    font-family: coolvetica;
    font-weight: bold;
    letter-spacing: 3px;
  }

  .column.geral {
    height: 950px;
    width: 100%;
    text-align: center;
    font-size: 60px;
    padding-top: 20px;
  }
  /* Colunas laterais */

  .column.side {
    height: 50;
    width: 50%;
    float: left;
    padding: 0px 0px 0px 40px;
  }
  
  /* Coluna do meio */

  .column.middle {
    width: 50%;
  }
  
  /* Limpar flutuações após as colunas */

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* estilo do rodapé */

  .footer {
    background-attachment: fixed;
    background-size: 100% 100%;
    color: white;
    background-image: url(map_fundo.jpg);
    padding: 10px;
    text-align: center;
    height: 39px;
  }
  
  
